* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-body {
  background-image: url("Image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  height: 60px;
  background-color: #1f2d3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-h1 {
  color: #d4af37;
  font-size: 2vw;
  font-family: Reaver, serif;
  font-weight: bold;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
h2 {
  color: #fff;
  font-size: 3vw;
  font-family: Reaver, serif;
  font-weight: bold;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.desktop-nav a {
  color: #9fbad0;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.heroes-main {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroes-title {
  margin-bottom: 30px;
  color: rgb(159, 186, 208);
  text-transform: uppercase;
}

.heroes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.hero-card {
  text-decoration: none;
  text-align: center;
  color: rgb(207, 216, 220);
  background: #111922;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  transition: 0.3s;
}

.hero-card:hover {
  border-color: #d4af37;
}

.hero-image {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.hero-card span {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}

/* desktop */
@media (min-width: 1920px) {
  .heroes-grid {
    max-width: 1400px;
  }
}

/* laptop */
@media (max-width: 1024px) {
  .heroes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .body {
    background-image: url("Image/background.jpg");
    background-size: cover;
  }
}

/* tablet */
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .heroes-grid {
    grid-template-columns: 1fr;
  }
  .body {
    background-image: url("Image/background.jpg");
    background-size: cover;
  }
}

/* mobile */
@media (max-width: 320px) {
  .h1 {
    font-size: 16px;
  }
  .heroes-main {
    padding: 20px;
  }
  .body {
    background-image: url("Image/background.jpg");
    background-size: cover;
  }
}
