main {
  flex: 1;
  padding: 30px;
  background-color: rgb(15, 15, 49);
}

.content-box {
  max-width: 600px;
  background: rgba(16, 21, 26, 0.75);
  padding: 25px;
  border: 1px solid #000;
}


.content-box p {
  line-height: 1.6;
  color: #c0cbd4;
}

body {
  height: 100vh;
  background-color: rgb(15, 15, 49);
  color: #e0e0e0;
}

header {
  height: 60px;
  background-color: #1f2d3a;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #000;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
}
h1{
  font-size: 20px;
  letter-spacing: 1px;
  color: #d4af37;
}
aside {
  width: 260px;
  background: #111922;
  border-right: 1px solid #000;
  overflow-y: auto;
}

 h2 {
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #9fbad0;
  border-bottom: 1px solid #000;
}

.heroes-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: rgb(10, 10, 44);
}
.heroes-title{
  margin-bottom: 30px;
  color:rgb(159, 186, 208);
  text-transform: uppercase;

}
.heroes-grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
justify-content: center;
}
.hero-card{
  text-decoration: none;
  text-align: center;
  color: rgb(207, 216, 220);
  background:rgb(10, 10, 44);
  padding: 10px ;
  border: 1px solid rgb(000, 0, 0);
  transition: 0.3s;
}
.hero-card-img{
  width: 100%;
  height: 120px ;
  object-fit: cover;  
}
.hero-card:hover{
  transform: scale(1.1);
  border-color: rgb(212, 175, 55);
}
.hero-card span{
  display: block;
  margin-top: 8px;
}